.sepia {
  filter: sepia(60%);
}

.grayscale {
  filter: grayscale(100%);
}

.saturate-50 {
  filter: saturate(50%);
}

.saturate-55 {
  filter: saturate(55%);
}

.saturate-60 {
  filter: saturate(60%);
}

.saturate-65 {
  filter: saturate(65%);
}

.saturate-70 {
  filter: saturate(70%);
}

.saturate-75 {
  filter: saturate(75%);
}

.purple {
  filter: hue-rotate(20deg);
}

.rose {
  filter: hue-rotate(100deg);
}

.green {
  filter: hue-rotate(230deg);
}

.teal {
  filter: hue-rotate(300deg);
}