.sepia {
  filter: sepia(60%);
}

.grayscale {
  filter: grayscale(100%);
}

.saturate {
  filter: saturate(50%);
}

.purple {
  filter: hue-rotate(20deg);
}

.rose {
  filter: hue-rotate(100deg);
}

.green {
  filter: hue-rotate(230deg);
}

.teal {
  filter: hue-rotate(300deg);
}